@model IEnumerable<ImageStore.Models.Image>
@{
    ViewBag.Title = "Загруженные фото";
}
<br />
<table>
    <tr>
        <th><p>Фото</p></th>
        <th><p>Url</p></th>
    </tr>

    @foreach (var f in Model)
    {
        <tr>
            <td>
                <p><img style='width:200px; height:100px' src="@Url.Content(f.Path)"></p>
            </td>
            <td>
                <p><a href="@f.Path">http://localhost:60114/@f.Path</a></p>
</td>
        </tr>
    }
</table>